---
freya: scss
---

// Fonts

@import 'https://fonts.googleapis.com/css?family=Inconsolata|Roboto:100,300,400|Source+Code+Pro:300,400';

// Reset

@import 'reset';

// Common

@import 'common/body';
@import 'common/code';
@import 'common/header';
@import 'common/footer';

// Core

@import 'core/features';
@import 'core/splash';

// Documentation

@import 'documentation/article';
@import 'documentation/breadcrumb';
@import 'documentation/content';
@import 'documentation/directional';
@import 'documentation/main';
