// Family

$f-family-code: 'Source Code Pro', monospace;
$f-family-mono: Inconsolata, Consolas, monospace;
$f-family-sans: Roboto, Helvetica, sans-serif;

// Height

$f-height-b: 25px; 

// Size

$f-size-b: 15px;
$f-size-s1: 26px;
$f-size-s2: 22px;
$f-size-s3: 18px;

// Weight

$f-weight-l: 100;
$f-weight-m: 300;
$f-weight-h: 400;

