// Font-Family

// Inconsolata

@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Inconsolata-regular/Inconsolata-regular.eot');
    src: url('/font/Inconsolata-regular/Inconsolata-regular.eot?#iefix') format('embedded-opentype'),
         local('Inconsolata'),
         local('Inconsolata-regular'),
         url('/font/Inconsolata-regular/Inconsolata-regular.woff2') format('woff2'),
         url('/font/Inconsolata-regular/Inconsolata-regular.woff') format('woff'),
         url('/font/Inconsolata-regular/Inconsolata-regular.ttf') format('truetype'),
         url('/font/Inconsolata-regular/Inconsolata-regular.svg#Inconsolata') format('svg');
}

// Roboto

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Roboto-100/Roboto-100.eot');
    src: url('/font/Roboto-100/Roboto-100.eot?#iefix') format('embedded-opentype'),
         local('Roboto Thin'),
         local('Roboto-100'),
         url('/font/Roboto-100/Roboto-100.woff2') format('woff2'),
         url('/font/Roboto-100/Roboto-100.woff') format('woff'),
         url('/font/Roboto-100/Roboto-100.ttf') format('truetype'),
         url('/font/Roboto-100/Roboto-100.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Roboto-300/Roboto-300.eot');
    src: url('/font/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
         local('Roboto Light'),
         local('Roboto-300'),
         url('/font/Roboto-300/Roboto-300.woff2') format('woff2'),
         url('/font/Roboto-300/Roboto-300.woff') format('woff'),
         url('/font/Roboto-300/Roboto-300.ttf') format('truetype'),
         url('/font/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Roboto-regular/Roboto-regular.eot');
    src: url('/font/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
         local('Roboto'),
         local('Roboto-regular'),
         url('/font/Roboto-regular/Roboto-regular.woff2') format('woff2'),
         url('/font/Roboto-regular/Roboto-regular.woff') format('woff'),
         url('/font/Roboto-regular/Roboto-regular.ttf') format('truetype'),
         url('/font/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

// Source Code Pro

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Source-Code-Pro-300/Source-Code-Pro-300.eot');
    src: url('/font/Source-Code-Pro-300/Source-Code-Pro-300.eot?#iefix') format('embedded-opentype'),
         local('Source Code Pro Light'),
         local('Source-Code-Pro-300'),
         url('/font/Source-Code-Pro-300/Source-Code-Pro-300.woff2') format('woff2'),
         url('/font/Source-Code-Pro-300/Source-Code-Pro-300.woff') format('woff'),
         url('/font/Source-Code-Pro-300/Source-Code-Pro-300.ttf') format('truetype'),
         url('/font/Source-Code-Pro-300/Source-Code-Pro-300.svg#SourceCodePro') format('svg');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.eot');
    src: url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.eot?#iefix') format('embedded-opentype'),
         local('Source Code Pro'),
         local('Source-Code-Pro-regular'),
         url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.woff2') format('woff2'),
         url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.woff') format('woff'),
         url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.ttf') format('truetype'),
         url('/font/Source-Code-Pro-regular/Source-Code-Pro-regular.svg#SourceCodePro') format('svg');
}
