@import '../variables/font';

// Links

@mixin links-normal {
    a {
        border-bottom: 1px solid #ddd;
        color: #666;
        font-weight: $f-weight-h;
        padding: 2px 0;
        margin: -2px 0;
        
        &:hover {
            border-bottom: 1px solid #666;
            color: #333;
        }
    }
}

@mixin links-light {
    a {
        border-bottom: 1px solid #ddd;
        color: #999;
        padding: 2px 0;
        margin: -2px 0;

        &:hover {
            border-bottom: 1px solid #999;
            color: #666;
        }
    }
}
