<footer>
  <nav>
    <ul>
      <li><a href="{{ theme_urls_freya_core }}/">Freya</a></li>
    </ul>
    <ul>
      <li><a href="{% if site %}{{ site.urls.freya.git }}{% endif %}{{ theme_urls_freya_git }}">GitHub</a></li>
      <li><a href="{% if site %}{{ site.urls.freya.twitter }}{% endif %}{{ theme_urls_freya_twitter }}">Twitter</a></li>
      <li><a href="https://gitter.im/xyncro/freya">Gitter</a></li>
    </ul>
    <ul>
      <li><a href="{{ theme_urls_freya_core }}/blog">Blog</a></li>
      <li><a href="{% if site %}{{ site.urls.freya.docs }}{% endif %}/en/latest/meta/contact.html">Contact</a></li>
      <li><a href="{% if site %}{{ site.urls.freya.docs }}{% endif %}/en/latest/meta/community.html">Community</a></li>          
      <li><a href="{% if site %}{{ site.urls.freya.docs }}{% endif %}/en/latest/meta/policies.html">Policies</a></li>          
    </ul>
    <ul>
      <li><a href="https://xyncro.tech">Xyncro Open Source</a></li>
    </ul>
  </nav>
  <p>
    Content &copy; 2013-2016 <a href="https://xyncro.com/andrew">Andrew Cherry</a> and <a href="https://wizardsofsmart.wordpress.com">Ryan Riley</a> plus individual contributors.<br />Documentation kindly powered by <a href="https://readthedocs.org">ReadTheDocs</a>.<br /><a href="https:/xyncro.com">Xyncro</a> offer Freya and F# consultancy for your projects.
  </p>
</footer>
