// Import

@import '../../dimension';

// Breadcrumb

.breadcrumb {

    // Variables

    $d-header: $d-header-m + $d-header-y;

    // Style

    background-color: #ddd;
    height: $d-bar-y;
    width: 100%;
    
    // Position

    position: fixed;
    top: $d-header;
    left: 0;

    // Box

    display: flex;
    justify-content: center;
    
    // Containers
    
    ul {

        // Style
        
        list-style-type: none;
        width: $d-content-x;
        
        // Box

        display: flex;
        
        li {
            display: flex;            
        }
    }

    // Links

    a {
        // Style
        
        color: #666;
        padding: 0 $d-pad-s;
        text-decoration: none;
        
        // Box
        
        display: flex;
        justify-content: center;
        align-items: center;

        // States

        &:hover {
            background-color: #ccc;
            color: #666;
        }
    }
}
