@import 'mixins/links';
@import 'variables/colour';
@import 'variables/dimension';
@import 'variables/font';

// Blog

.blog {

    // Content

    @mixin content-after($content) {
        &:after {
            content: $content;
        }
    }
    
    // Containers

    @mixin container {
        padding: 0 $d-pad-m;
        width: $d-content-x - (2 * $d-pad-m);
    }

    // Headings

    h1 {
        color: $c-p2;
        font-weight: $f-weight-m;
    }

    // Common

    .tags, .dates, .posts, .post {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }

    .summary, .full {
        @include container;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $d-pad-l;

        // Header
            
        header {
            @include links-light;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            width: 380px;

            dl {
                display: flex;
                flex-wrap: wrap;
                line-height: $f-height-b;
                
                dt {
                    color: #ccc;
                    width: 80px;
                }
                
                dd {
                    color: #999;
                    width: 300px;
                    
                    ul {
                        display: flex;
                        
                        li {
                            @include content-after("/");
                            color: #ccc;
                            margin-right: 4px;
                        }
                        
                        li:last-child {
                            @include content-after(none);
                        }
                    }
                }
            }
        }

        // Content
            
        section {
            @include links-normal;
            width: 540px;
            
            p {
                margin-bottom: $d-pad-m;
            }
        }
            
        // Footer
        
        footer {
            @include links-normal;
            margin-left: 380px;
            width: 540px;
        }
    }

    .posts, .dates, .tags {
        margin-top: $d-header-m + $d-header-y + $d-bar-y;

        // Header
        
        > header {
            @include container;
            margin: $d-pad-l 0;
            
            h1 {
                font-size: 30px;
            }
        }
    }

    .dates, .tags {
        .date, .tag {
            //background-color: #ccc;
            @include container;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $d-pad-l;

            header {
                width: 380px;

                h1 {
                    font-size: 24px;
                }
            }

            dl {
                @include links-normal;
                display: flex;
                line-height: $f-height-b;
                margin-top: 5px;

                dt {
                    display: none;
                }
            }

            time {
                //background-color: #f00;
                color: #ccc;
                display: block;
                width: 140px;
            }
        }
    }

    // Posts
    
    .posts {        
        
        // Summary

        .summary {
            
            // Header
            
            header {
                h1 {
                    font-size: 24px;
                    margin-bottom: $d-pad-m;
                }
            }
        }   
    }

    // Post

    .post {
        margin-top: $d-header-m + $d-header-y + (2 * $d-bar-y) + $d-pad-l;

        // Full

        .full {

            // Header
            
            header {
                h1 {
                    font-size: 30px;
                    margin-bottom: $d-pad-m;
                }
            }

            // Content

            section {
                margin-top: 5px;
            }
        }
    }
    
    // Views Navigation

    .views {
        background-color: #ddd;
        display: flex;
        height: $d-bar-y;
        justify-content: center;
        left: 0;
        position: fixed;
        top: $d-header-m + $d-header-y;
        width: 100%;
        
        // Lists
        
        ul {
            display: flex;
            width: $d-content-x;
            
            li {
                display: flex;            
            }
        }
        
        // Links
        
        a {
            align-items: center;
            color: #666;
            display: flex;
            justify-content: center;
            padding: 0 $d-pad-m;
            text-decoration: none;
            
            &:hover {
                background-color: #ccc;
                color: #666;
            }
        }
    }
}
