// Import

@import '../../dimension';

// Directional

.directional {

    // Variables

    $d-header: $d-header-m + $d-header-y;
    $d-bar: $d-bar-y;

    // Style

    background-color: #eee;
    height: $d-bar-y;
    width: 100%;
    
    // Position

    position: fixed;
    top: $d-header + $d-bar;
    left: 0;

    // Box

    display: flex;
    justify-content: center;
    
    // Containers
    
    ul {

        // Style
        
        list-style-type: none;
        width: $d-content-x;
        
        // Box

        display: flex;
        
    }
        
    li {
        
        // Style
        
        width: $d-content-x / 2;
        
        // Box
        
        display: flex;
        justify-content: flex-end;
        
        // Selectors
        
        &:first-child {
            justify-content: flex-start;
        }            
    }

    // Links
    
    a {

        // Style

        color: #999;
        padding: 0 $d-pad-s;
        text-decoration: none;

        // Box
        
        display: flex;
        justify-content: center;
        align-items: center;

        // States

        &:hover {
            background-color: #ddd;
        }
    }
}
