// Import

@import '../../variable/dimension';
@import '../../variable/font';

// Content

.content {

    // Style

    padding: $d-pad-l $d-pad-s;
    line-height: $f-height-b;
    width: 260px;
    
    // Containers

    li {
        margin-left: $d-pad-s;            
    }

    p {
        color: #666;
        font-weight: $f-weight-h;
        padding: 0 0 $d-pad-xs 0;
        margin: $d-pad-s $d-pad-s $d-pad-xs $d-pad-s;
        border-bottom: 1px solid #ccc;
    }

    // Links

    a {
        color: #999;
        font-weight: $f-weight-m;
        text-decoration: none;

        &.current {
            color: #333;
            font-weight: $f-weight-h;

            &:hover {
                color: #000;
            }
        }

        &:hover {
            color: #333;
        }
    }

    .current a {
        color: #666;

        &:hover {
            color: #000;
        }
    }

    .current > a {
        font-weight: $f-weight-h;
    }

    // Search

    .search {

        // Mixins

        @mixin placeholder() {
            color: #ccc;
        }

        // Style
        
        margin: 20px;

        // Fields

        input[type=text] {

            // Style
            
            background-color: #eee;
            border-width: 0;
            color: #333;
            font-size: $f-size-b;
            font-weight: $f-weight-m;
            margin: 0;
            padding: $d-pad-xs;
            width: 200px;

            &:focus {
                background-color: #fff;
            }
        }

        input:-ms-input-placeholder {
            @include placeholder();
        }
        
        input::-webkit-input-placeholder {
            @include placeholder();
        }

        input:-moz-placeholder {
            @include placeholder();
        }
    }
}
