// Font

// Family

$f-family-code: 'Roboto Mono', monospace;
$f-family-mono: Inconsolata, Consolas, monospace;
$f-family-sans: Roboto, Helvetica, sans-serif;

// Height

$f-height-m: 25px;

// Size

$f-size-s: 13px;
$f-size-m: 15px;
$f-size-l: 24px;
$f-size-xl: 30px;

// Weight

$f-weight-l: 100;
$f-weight-m: 300;
$f-weight-h: 400;
