<footer>
  <nav>
    <ul>
      <li><a href="https://freya.io">Freya</a></li>
    </ul>
    <ul>
      <li><a href="https://github.com/xyncro/freya">GitHub</a></li>
      <li><a href="https://twitter.com/freyafs">Twitter</a></li>
      <li><a href="https://gitter.im/xyncro/freya">Gitter</a></li>
    </ul>
    <ul>
      <li><a href="https://freya.io/blog">Blog</a></li>
      <li><a href="https://docs.freya.io/en/latest/contact.html">Contact</a></li>
      <li><a href="https://docs.freya.io/en/latest/community.html">Community</a></li>          
      <li><a href="https://docs.freya.io/en/latest/policies.html">Policies</a></li>          
    </ul>
    <ul>
      <li><a href="https://xyncro.tech">Xyncro Open Source</a></li>
    </ul>
  </nav>
  <p>
    Content &copy; 2013-2016 <a href="https://xyncro.com/andrew">Andrew Cherry</a> and <a href="https://wizardsofsmart.wordpress.com">Ryan Riley</a> plus individual contributors.<br />Documentation kindly powered by <a href="https://readthedocs.org">ReadTheDocs</a>.<br /><a href="https:/xyncro.com">Xyncro</a> offer Freya and F# consultancy for your projects.
  </p>
</footer>
