// Import

@import '../variables/colour';
//@import '../common/code';
//@import '../common/links';
@import '../variables/dimension';

// Posts

.posts {

    // Includes

    //@include code();
    //@include links();

    // Imports

    @import 'post-summary';

    // Style
    
    margin-top: $d-header-m + $d-header-y + $d-bar-y;
    width: $d-content-x;

    // Headings

    h1 {

        // Style
        
        color: $c-p2;
        font-size: 30px;
        font-weight: $f-weight-m;
        padding: $d-pad-l $d-pad-s $d-pad-s $d-pad-s;
    }
}
