// Import

@import '../colour';
@import '../dimension';

.posts {

    // Style
    
    margin-top: $d-header-m + $d-header-y;
    width: $d-content-x;

    // Headings

    h1 {

        // Style
        
        color: $c-p2;
        font-size: 30px;
        font-weight: $f-weight-m;
        padding: $d-pad-l $d-pad-s $d-pad-s $d-pad-s;
    }
}
