// Import

@import '../dimension';
@import '../font';

// Article

article {

    // Style
    
    color: #333;
    line-height: $f-height-b;
    padding: $d-pad-l;
    width: 580px;

    // Headings

    h1, h2, h3, h4 {

        // Style
        
        color: #666;
        font-size: $f-size-b;
        font-weight: $f-weight-m;
        margin: 0 0 $d-pad-s 0;
    }

    h1 {
        font-size: $f-size-s1;
    }

    h2 {
        font-size: $f-size-s2;
    }

    h3 {
        font-size: $f-size-s3;
    }

    // Emphasis

    strong {
        font-weight: $f-weight-h;
    }

    // Paragraphs

    p {
        margin: 0 0 $d-pad-s 0;
    }

    // Links
    
    a {

        // Style
        
        border-bottom: 1px solid #ccc;
        color: #333;
        font-weight: $f-weight-h;
        text-decoration: none;
        padding: 2px 0;
        margin: -2px 0;

        // States

        &:hover {
            border-bottom: 1px solid #666;
            
        }

        // Markers

        &.headerlink {
            border-bottom: 1px solid #ddd;
            color: #ddd;
            font-size: $f-size-b;
            margin: 0 $d-pad-xs;

            &:hover {
                border-bottom: 1px solid #666;
                color: #999;
            }
        }

        em {
            font-style: normal;
        }
    }

    // Lists

    li {
        margin-bottom: $d-pad-s;
    }

    // Sections

    .section {
        margin: $d-pad-l 0;

        &:first-child {
            margin-top: 0;
        }
    }

    // Admonitions

    .admonition {

        // Mixins

        @mixin admonition($bg) {
            background-color: $bg;
            padding: $d-pad-xs $d-pad-s;
            margin: 0;
        }

        @mixin type($color) {
            border-top: 2px solid $color;
        }

        // Style

        margin: 0 (-1 * $d-pad-s) $d-pad-s (-1 * $d-pad-s);

        // Containers
        
        .admonition-title {

            // Style
            
            @include admonition(#ddd);
            font-weight: $f-weight-h;
        }

        .last {

            // Style

            @include admonition(#eee);
            padding: $d-pad-s;
        }

        // Types

        &.attention {
            @include type(#f00);
        }

        &.hint {
            @include type(#13d423);
        }

        &.important {
            @include type(#f00);
        }

        &.note {
            @include type(#1383d4);
        }
    }

    // Trees

    .toctree-wrapper ul {
        margin-bottom: $d-pad-s;
    }

    .toctree-wrapper li {
        margin: $d-pad-xs 0;
    }

    // Code

    @import '../common/code';

    .highlight {

        // Style
        
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: $d-pad-s;
        margin: 0 (-1 * $d-pad-s) $d-pad-s (-1 * $d-pad-s);
    }

    pre, code {

        // Style

        font-family: $f-family-code;
        font-size: 13px;
        font-weight: $f-weight-m;
    }

    code {

        // Style
        
        background-color: #f5f5f5;
        color: #666;
        padding: 3px;
        margin: -3px 1px;
    }
    
    pre {

        // Style

        line-height: 18px;
        margin: 0;
        padding: 0;
    }
}
