// Import

@import '../dimension';

// Documentation

.documentation {

    // Variables

    $d-header: $d-header-m + $d-header-y;
    $d-bars: $d-bar-y * 2;
    
    // Style
    
    width: $d-content-x;
    
    // Position

    margin-top: $d-header + $d-bars;

    // Box

    display: flex;
}
