// Import

@import '../dimension';

// Section

> section {

    // Imports

    @import 'article';
    
    // Variables

    $d-header: $d-header-m + $d-header-y;
    $d-bars: $d-bar-y * 2;

    // Style
    
    width: $d-content-x;
    margin-top: $d-header + $d-bars;
    
    // Box

    display: flex;
}
