// Imports

@import '../colour';
@import '../font';

// Body

body {

    // Style
    
    background-color: $c-bg;
    font-family: $f-family-sans;
    font-weight: $f-weight-m;
    font-size: $f-size-b;
    
    // Box

    display: flex;
    align-items: center;
    flex-direction: column;    
}
