// Import

@import '../font';

// Mixins

@mixin code() {

    pre, code {
        
        // Style
        
        font-family: $f-family-code;
        font-size: 13px;
        font-weight: $f-weight-m;
    }

    code {

        // Style
        
        background-color: #f5f5f5;
        color: #666;
        padding: 3px;
        margin: -3px 1px;
    }
    
    pre {

        // Style

        line-height: 18px;
        margin: 0;
        padding: 0;
    }
}
